<% empty = true %>
<% current_user.items.each do |item| %>
  <% if item.amount && item.amount > 0 %>
    <div><%= render item %></div>
    <% empty = false %>
  <% end %>
<% end %>

<% if empty %>
  <p style="text-align:center;"><img src="https://www.valeorx.com/static/media/empty-cart.60e68bfd.png" alt="Empty Cart" /></p>
  
<% end %>
<br>
<br>
<h3 style="text-align: center;"><a href="/" class="btn btn-outline-success">Add more items to cart!</a></h3>
